<section class="hero">
    <h1>Sign up</h1>
</section>

    <%= form_for(:user, :url => {:controller => 'logins', :action => 'create'}, html: { class: "form" }) do |f| %>
       <%= f.label :username %>
       <%= f.text_field :username %>

       <%= f.label :email %>
       <%= f.email_field :email %>

       <%= f.label :password %>
       <%= f.password_field :password %>

       <%= f.label :password_confirmation, "Confirmation" %>
       <%= f.password_field :password_confirmation %>

        <div class="form__actions">
            <%= link_to "Cancel", root_path, class: "form__link" %>
            <%= f.submit "Create my account", class: "button" %>
        </div>
        <%= render 'shared/error_messages' %>
    <% end %>
