<br>
<!-- SUGGESTION: I think we should only allow users to delete their own comments, we could make a case for admins deleting comments as well -->
<!-- also used a decorator to remove some logic from this view -->
<div class="comment__header">
	<%= SubmissionDecorator.new(comment).comment_details(@submission, current_user) %>
</div>
<br>

<div class="comment__content">
	<div class="comment__vote">
		<div class="vote">
			<%= SubmissionDecorator.new(comment).comment_vote_link(@submission, current_user) %>
			<br><p><%= comment.vote_count %></p>
<!-- disabled because of issues getting multiple ckeditor instances	
		<a href="javascript:showReply('new_comment_<%=comment.id%>')"><i class="fas fa-comment-alt comment__icon"></i></a>	 
-->
		</div>
	</div>
	
	<div class="comment__text">
		<%= comment.content.html_safe %>
	</div>
</div>
<br>
