<div class="index">
	<div class="dropdown">
		<span class="dropbtn">All Categories <%= image_tag "chevron_up.svg", class: "header__logo", alt: "Dropdown icon", width: "15", height: "15" %></span>
		<hr>
		<div class="dropdown-content">
			<% Category.all.each do |category| %>
				<a href="<%= category_url(category.id)%>"><%=category.name%></a>
			<% end %>
		</div>
	</div>

	<div>
	<% @submissions.each do |submission| %>
		<% submission_class_id = SubmissionDecorator.new(submission).set_submission_class_id(current_user) %>
		<div class="index__submission <%=submission_class_id%>" id="submission">
			<div class="index__submission-vote-group">
				<div class="index__vote">
					<%= SubmissionDecorator.new(submission).display_vote_link(current_user, true) %>
					<br><p><%= submission.vote_count%></p>
				</div>
				<div class="index__contentStatusGroup">
					<div class="index__content" id="submission-content">
						<%= link_to submission do%>
							<h2><%= submission.title%></h2>
						<%end%>
					</div>
					<% status = SubmissionDecorator.new(submission).set_submission_status %>
					<div class="index__tag index__statusTag <%=status%>" data-info = "<%= submission.status.name%>">
						<a href="#">
							<%= submission.status.name%>
						</a>
					</div>
				</div>
			</div>
			<div class = "index__tagGroup">
				<div class="index__tag color-<%=submission.category.color%>">
					<a href="<%=category_url(submission.category.id)%>">
					<%= submission.category.name.upcase%>
					</a>
				</div>
			</div>
		</div>
	<% end %>
</div>	
<div class="form__actions">
	<form action="<%=new_submission_url%>">
		<input type="submit" value="New Submission" class="button" />
	</form>
</div>
