<section class="hero">
    <h1>New Submission</h1>
</section>
<%= javascript_include_tag Ckeditor.cdn_url %>
<%= form_for(@submission, html: { class: "form" }) do |f| %>
	<% if @submission.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

		<ul>
		<% @submission.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :categories %><br>
		<%= f.collection_select :category_id, Category.order(:name), :id, :name %>
	</div>
	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div><%@submission.user_id = current_user.id%>
	<div class="field">
		<%= f.label :content %><br>
		<%= f.cktext_area :content, ckeditor: {toolbar: "mini"}%>
	</div>
    <div class="form__actions">
        <%= link_to "Cancel", root_path, class: "form__link" %>
        <%= f.submit "Create Submission", class: "button" %>
    </div>
<%end%>