<section class="hero">
    <h1>New Category</h1>
</section>

<%= form_for(@category, html: { class: "form" }) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
     <div class="form__actions">
        <%= link_to "Cancel", root_path, class: "form__link" %>
        <%= f.submit "Create category", class: "button" %>
    </div>
<% end %>
