<section class="hero">
	<h1><%=@category.name%></h1>
</section>

<div class="index">
    <% Submission.all.each do |submission| %>
        <% if submission.category_id == @category.id%>
            <div class="index__submission">
                <div class="index__submission-vote-group">
                    <div class="index__vote">
                        <% vote = Vote.find_by(post_id: submission.id, user_id: current_user.id) %>
                        <% if vote.nil? || vote.weight == 0 %> 
						    <%= link_to submission_vote_path(submission_id: submission.id, user_id: current_user.id, weight: 1), method: :patch, class: "upvote", id: "upvote" do %>
							<%= image_tag "chevron_up.svg", alt: "Upvote", width: "20", height: "20" %>
						    <% end %>
					    <% else %>
						    <%= link_to submission_vote_path(submission_id: submission.id, user_id: current_user.id, weight: 0), method: :patch, class: "unvote", id: "uvote" do %>
						    	<%= image_tag "chevron_up.svg", alt:"Upvote", width: "20", height: "20" %>
						    <%end%>
					    <% end %>
                        <br><p><%= submission.vote_count%></p>
                    </div>
                    <div class="index__content">
                        <%= link_to submission do%>
                            <h2><%= submission.title%></h2>
                            <!--<%= submission.content %>-->
                        <%end%>
                    </div>
                </div>
                <div class="index__tag">
                    <b><%= submission.category.name%></b>
                </div>			
            </div>
        <%end%>
	<% end %>
    <div class="form__actions">
        <%= link_to "Back", root_path, class: "form__link" %>
		<form action="<%=new_submission_url%>">
   			<input type="submit" value="New Submission" class="button" />
		</form>
	</div>
</div>