<h1>Flydeas</h1>
<li><%= link_to "Home", root_url %></li>
<% if logged_in? %>
    <li><%= link_to "Log out #{@current_user.username}?", logout_path, method: :delete %></li>
    <li> <%= link_to "Dashboard", submissions_url%></li>
<% else %>
    <li><%= link_to "Log in", login_path %> </li>
   <li> <%= link_to "Sign up", new_login_path %></li>
<% end %>
<hr>