<!DOCTYPE html>
<html>
	<head>
		<title>Flydeas</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<link rel="stylesheet" type: "text/css" href="/fonts/museo_sans_rounded/museo_sans_rounded.css" media="all">
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
            <%= render "layouts/header" %>

            <% flash.each do |key, value| %>
                    <div class="flash-message --<%= key %>">
                        <div class="contain"><%= value %></div>
                    </div>
            <% end %>

            <%= yield %>

            <% debug(params) if Rails.env.development? %>
	</body>
</html>
